* {
    text-align: center;
}


table {
    width: 400px;
}

table tr > th {
    padding: 5px;
    border-bottom: 1px solid #ff4206;
    text-align: center;
}

#comment {
    width: 400px;
    height: 80px;
}
#send {
    width: 100px;
    height: 30px;
    border-radius: 5px;
    border: 1px solid #ff4206;
    box-shadow: 0 0 5px rgba(0,0,0,0.5);
}
#send:hover {
    background-color: rgba(255, 66, 6, 0.5);
    color: white;
}
#send:active {
    background-color: rgba(255, 66, 6, 1);
    box-shadow: 0 0 1px rgba(0,0,0,0.5);
}
#send:focus {outline:0;}

.record {
    width: 370px;
    min-height: 70px;
    border-radius: 3px;
    border: 1px solid black;
    cursor: pointer;
}